{% extends "site/two_column_page_wideleft.html" %}

{% block pagetitle %}
  Experiment Manager
{% endblock %}

{% block page_top_menu %}
    
    {% include 'exp/pagemenu.html' %}
    
    <div class="page-header">   
      {% if expform.instance.abbrev %}
        <h3>Edit Experiment <strong>{{expform.instance.abbrev}}</strong></h3>
      {% else %}
        <h3>Edit New Experiment</h3>
      {% endif %}
    </div>
    
    {% if expform.errors%} 
      <div class="row">
        <div class="offset1 span10">
            <div class="alert alert-error ">
              {% if expform.non_field_errors %}
                <p>{{ expform.non_field_errors }}</p>
              {% else %}
                <p> Please correct the marked fields</p>
              {% endif %}
            </div>
        </div>
      </div>
    {% endif %}
  
{% endblock %}


{% block page_column_one %}

      <form action="{{ urls.expedit }}" method="POST" class="form-horizontal">
        {% csrf_token %}
            
            <div class="row">        
              <div class="span2">
                <label for="abbrev"{% if expform.abbrev.errors %} class="text-error" {% endif %}>Abbreviation {% if expform.fields.abbrev.required %}*{% endif %}</label>
              </div>
              <div class="span3">
                {{ expform.abbrev }}
              </div>
              <div class="span2">
              {% if expform.abbrev.errors %}
                {% for error in expform.abbrev.errors %}
                    <p class="text-error">{{ error }}</p>
                {% endfor %}
              {% endif %}
              </div>
            </div>
            <br/>
            
            <div class="row">
              <div class="span2">
                <label for="title"{% if expform.title.errors %} class="text-error" {% endif %}>Title {% if expform.fields.title.required %}*{% endif %}</label>
              </div>
              <div class="span3">
                {{ expform.title }}
              </div>
              <div class="span2">
                {% if expform.title.errors %}
                  {% for error in expform.title.errors %}
                    <p class="text-error">{{ error }}</p>
                  {% endfor %}
                {% endif %}
              </div>
            </div>
            <br/>
            
            <div class="row">
              <div class="span2">
                <label for="project"{% if expform.project.errors %} class="error" {% endif %}>Project {% if expform.fields.project.required %}*{% endif %}</label>
              </div>
              <div class="span3">
                {{ expform.project }}
              </div>
              <div class="span2">
                {% if expform.project.errors %}
                  {% for error in expform.project.errors %} 
                    <p class="text-error">{{ error }}</p>
                  {% endfor %} 
                {% endif %}
              </div>
            </div>
            <br/>
            
            <div class="row">
              <div class="span2">
                <label for="description"{% if expform.description.errors %} class="error" {% endif %}>Description {% if expform.fields.description.required %}*{% endif %}</label>
              </div>
              <div class="span3">
                {{ expform.description }}
              </div>
              <div class="span2">
                {% if expform.description.errors %}
                  {% for error in expform.description.errors %} 
                    <p class="text-error">{{ error }}</p>
                  {% endfor %} 
                {% endif %}
              </div>
            </div>
            <br/>
            
            <div class="row">
              <div class="span2">
                <label for="rationale"{% if expform.rationale.errors %} class="error" {% endif %}>Rationale {% if expform.fields.rationale.required %}*{% endif %}</label>
              </div>
              <div class="span3">
                {{ expform.rationale }}
              </div>
              <div class="span2">
                {% if expform.rationale.errors %}
                  {% for error in expform.rationale.errors %} 
                    <p class="text-error">{{ error }}</p>
                  {% endfor %} 
                {% endif %}
              </div>
            </div>
            <br/>
            
            <div class="row">
              <div class="span2">
                <label for="control"{% if expform.control.errors %} class="text-error" {% endif %}>Control? {% if expform.fields.rationale.required %}*{% endif %}</label>
              </div>
              <div class="span3">
                {{ expform.control }}
              </div>
              <div class="span2">
                {% if expform.control.errors %}
                  {% for error in expform.control.errors %} 
                    <p class="text-error">{{ error }}</p>
                  {% endfor %} 
                {% endif %}
              </div>
            </div>
            <br/>
            
            <div class="row">
              <div class="span2">
                <label for="reqs"{% if expform.requirements.errors %} class="error" {% endif %}><p class="icon-info-sign ttip" rel="tooltip" data-placement="top" title="To add new requirements, use the 'requirements' tab above"></p>Associated requirements {% if expform.fields.requirements.required %}*{% endif %}</label>
              </div>
              <div class="span3">
                <div style="height: 10em; width: 16em; overflow: auto;">
                  {{ expform.requirements }}
                </div>
              </div>
              <div class="span2">
                {% if expform.requirements.errors %}
                  {% for error in expform.requirements.errors %} 
                    <p class="text-error">{{ error }}</p>
                  {% endfor %} 
                {% endif %}
              </div>
            </div>
            <br/>   
      
{% endblock %} 

{% block page_column_two %}
  <div class="well well-large span3">
	  <div class="row">
	    <div class="span3">
	      <button type="submit" name="expform" class="btn btn-primary btn-block"><strong>Save changes</strong></button>
	      <button name="cancel" type="submit" value="Cancel" class="btn btn-block"><strong>Cancel</strong></button>
        </div>
      </div>
  </div>
  
  </form>
 
{% endblock %}
