{% extends "site/one_column_page.html" %}

{% block pagetitle %}
  Experiment Manager
{% endblock %}
  
{% block page_column_one %}
  
  {% include 'exp/pagemenu.html' %}
  
  <div class="page-header">
    <h3>Experiments <small>Table of current top level experiments</small></h3>
  </div>
  
  <div class="row"> 
    <div class="span2 offset9">
      <a class="btn btn-primary btn-block" href="{{ urls.expadd }}">Add New Experiment</a>
    </div>
  </div>
  <div class="row">
    <div class="span10 offset1">
      <br/>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Abbreviation</th>
            <th>Author</th>
            <th>Project</th>
            <th>Created</th>
            <th>Updated</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <!-- <tbody data-provides="rowlink"> -->
        <tbody>
          {% for exp in allexps %}
            <tr>
              <td>{{ exp.abbrev }}</td>
              <td>{{ exp.author }}</td>
              <td>{{ exp.project }}</td>
              <td>{{ exp.created }}</td>
              <td>{{ exp.updated }}</td>
              <td><a href="{{ exp.url }}"><i class="icon-search" title="View"></i></a></td>
              <td><i class="icon-share-alt" title="Copy (available soon)"></i></td>
              <td>
                <a href="#" onclick="return MyDialogs.loadConfirmationModal('my_modal_id', 
                                                                            '{{ exp.delurl }}', 
                                                                            'Delete Experiment', 
                                                                            'Are you sure you want to delete {{ exp.abbrev }}?');"><i class="icon-trash" title="Delete"></i></a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <br/>
  
  
{% endblock %}


{% block extrajs %}

<script type="text/javascript">
  var MyDialogs={
    loadConfirmationModal:function(modalId, confirmURL, caption, body){
                        var $modal=jQuery('#'+modalId);
                        if($modal.size() === 0){

                                var modalString='<div id="'+modalId+'" class="modal hide fade">'+
                                        '<div class="modal-header">'+
                                                '<button class="close" data-dismiss="modal">×</button>'+
                                                '<h3>'+caption+'</h3>'+
                                        '</div>'+
                                        '<div class="modal-body">'+body+
                                                '</div>'+
                                                '<div class="modal-footer">'+
                                                        '<button id="cancel" class="btn" data-dismiss="modal" type="button" name="cancel">Cancel</button>'+
                                                        '<a id="submit" class="btn btn-danger" href="'+confirmURL+'">Delete</a>'+
                                                '</div>'+
                                '</div>';

                                $modal=jQuery(modalString);

                        }

                        $modal.modal('show');
                        return false;
                }

  };
</script>

{% endblock %}
