{% extends "site/two_column_page_wideleft.html" %}

{% block pagetitle %}
  Experiment Manager
{% endblock %}

{% block page_top_menu %}
    
    {% include 'exp/pagemenu.html' %}
    
    <div class="page-header">
      <h3>Experiment <strong>{{exp.abbrev}}</strong></h3>
    </div>
  
{% endblock %}

   
{% block page_column_one %}
  
  <div class="row">
    <div class="span2">
      <strong>Abbreviation</strong>
    </div>
    <div class="span4">
      {{ exp.abbrev }}
    </div>
  </div>
  <br/>
  
  <div class="row">
    <div class="span2">
      <strong>Title</strong>
    </div>
    <div class="span4">
      {{ exp.title }}
    </div>
  </div>
  <br/>
  
  <div class="row">
    <div class="span2">
      <strong>Author</strong>
    </div>
    <div class="span4">
      {{ exp.author }}
    </div>
  </div>
  <br/>
  
  <div class="row">
    <div class="span2">
      <strong>Project</strong>
    </div>
    <div class="span4">
      {{ exp.project }}
    </div>
  </div>
  <br/>
  
  <div class="row">
    <div class="span2">
      <strong>Description</strong>
    </div>
    <div class="span4">
      {{ exp.description }}
    </div>
  </div>
  <br/>
  
  <div class="row">
    <div class="span2">
      <strong>Rationale</strong>
    </div>
    <div class="span4">
      {{ exp.rationale }}
    </div>
  </div>
  <br/>
  
  <div class="row">
    <div class="span2">
      <strong>Control</strong>
    </div>
    <div class="span4">
      {{ exp.control }}
    </div>
  </div>
  <br/>
  
  <div class="row">
    <div class="span2">
      <strong>Associated Requirements</strong>
    </div>
    <div class="span4">
      <table>
        <tbody>
          {% for req in reqs %}
            <tr>
              <td>
                <p class="icon-info-sign ttip" rel="tooltip" data-placement="top" title="{{ req.description }}"></p>                
                {{ req }} 
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %} 


{% block page_column_two %}
  <div class="well well-large span3">
	  <div class="row">
	    <div class="span3">
          <a href="{{ urls.exphome }}" class="btn btn-block"><strong>Return to list</strong></a>
	      <a href="{{ urls.expedit }}" class="btn btn-block"><strong>Edit this Experiment</strong></a>
	      <a href="{{ urls.exppub }}" class="btn btn-block" target="_blank"><strong>Export XML</strong></a>
	      <a href="{{ urls.exppub }}" class="btn btn-block" target="_blank"><strong>Publish CIM Document</strong></a>
	    </div>           
	  </div>
  </div>
  
{% endblock %} 
