{% extends "site/one_column_page.html" %}

{% block pagetitle %}
  Experiment Manager
{% endblock %}

{% block page_column_one %}

  {% include 'exp/pagemenu.html' %}
  
  <div class="page-header">
    <h3>Requirements <small>Table of current numerical requirements</small></h3>
  </div>
  
  <div class="row"> 
    <div class="span2 offset9">
      <a class="btn btn-primary btn-block" href="{{ urls.reqadd }}">Add New Requirement</a>
    </div>
  </div>            
  <div class="row">
    <div class="span10 offset1">
      <br/>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Doc ID</th>
            <th>Type</th>
            <th>Created</th>
            <th>Updated</th>
            <th></th>
          </tr>
        </thead>              
        <tbody>
          {% for req in allreqs %}
            <tr>
              <td>{{ req.name }}</td>
              <td>{{ req.docid }}</td>
              <td>{{ req.reqtype }}</td>
              <td>{{ req.created }}</td>
              <td>{{ req.updated }}</td>
              <td><a href="{{ req.url }}"><i class="icon-search" title="View"></i></a></td>
              <td>
              <a href="#" onclick="return MyDialogs.loadConfirmationModal('my_modal_id', 
                                                                            '{{ req.delurl }}', 
                                                                            'Delete Requirement', 
                                                                            'Are you sure you want to delete {{ req.name }}?');"><i class="icon-trash" title="Delete"></i></a>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <br/>
    
{% endblock %}   


{% block extrajs %}

  <script type="text/javascript">
  var MyDialogs={
    loadConfirmationModal:function(modalId, confirmURL, caption, body){
                        var $modal=jQuery('#'+modalId);
                        if($modal.size() === 0){

                                var modalString='<div id="'+modalId+'" class="modal hide fade">'+
                                        '<div class="modal-header">'+
                                                '<button class="close" data-dismiss="modal">×</button>'+
                                                '<h3>'+caption+'</h3>'+
                                        '</div>'+
                                        '<div class="modal-body">'+body+
                                                '</div>'+
                                                '<div class="modal-footer">'+
                                                        '<button id="cancel" class="btn" data-dismiss="modal" type="button" name="cancel">Cancel</button>'+
                                                        '<a id="submit" class="btn btn-danger" href="'+confirmURL+'">Delete</a>'+
                                                '</div>'+
                                '</div>';

                                $modal=jQuery(modalString);

                        }

                        $modal.modal('show');
                        return false;
                }

  };
  </script>

{% endblock %}
