<!DOCTYPE html>
<html lang="en">
  <head>
  
    <meta charset="utf-8">
    <title>PIMMS metadata</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-spacelab.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/js/google-code-prettify/prettify.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{STATIC_URL}}ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}bootstrap/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}bootstrap/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}bootstrap/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}bootstrap/ico/apple-touch-icon-57-precomposed.png">
    
    
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    
    {% block extrahead %}
    {% endblock %}
    
  </head>


  <body>
  
    <div class="container">
    
    <!-- site-wide menu -->
    {% include 'site/sitemenu.html' %}
    <!-- site-wide menu -->
    
    
    <!-- site-wide header -->
    <header class="jumbotron subhead" id="overview">
      <div class="span9">
        <h1>Metadata Manager</h1>
        <p class="lead">Metadata Questionnaire</p>
      </div>
      <div class="span2">
        <img src="{{ STATIC_URL }}images/pimms_logo.png" alt="pimms logo">
      </div>
      <br/>
    </header>
    
    
    <!--page content -->
    {% block content %}
    {% endblock %}
    <!--end page content -->
    
    
    <!-- site-wide footer -->
    <br/>
    <br/>
    <br/>
    <footer class="footer">
      <hr/>
      <p><a href="mailto:g.m.devine@reading.ac.uk">Contact</a> </p>
    </footer>
    <!-- end site-wide header -->
  
  
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/google-code-prettify/prettify.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-transition.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-alert.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-modal.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-tab.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-popover.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-button.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-carousel.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-typeahead.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-affix.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-rowlink.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/application.js"></script>
    
    <!-- site wide tooltip functionality -->
    <script type='text/javascript'>
      $(".ttip").tooltip()
    </script>
    
    {% block extrajs %}
    {% endblock %}
   
    </div>
  </body>
  
</html>
