<html xmlns="http://www.w3.org/1999/xhtml" >
  <head>
      {% block title %}
        <title>PIMMS Model Metadata Questionnaire</title>
      {% endblock %}
      
      <!-- Site-wide stylesheets -->
      <link rel="stylesheet" href="{{ STATIC_URL }}static/static/css/style.css" type="text/css" />
      <link rel="stylesheet" href="{{ STATIC_URL }}static/static/css/cycletable.css" type="text/css" />
      
      <!-- YUI javascript and css-->
      <script type="text/javascript" src="{{ STATIC_URL }}static/static/yui/build/yahoo/yahoo-min.js"></script>
      <script type="text/javascript" src="{{ STATIC_URL }}static/static/yui/build/event/event-min.js"></script>
      <script type="text/javascript" src="{{ STATIC_URL }}static/static/yui/build/connection/connection-min.js"></script>
      <script type="text/javascript" src="{{ STATIC_URL }}static/static/yui/build/yahoo-dom-event/yahoo-dom-event.js"></script>
      <script type="text/javascript" src="{{ STATIC_URL }}static/static/yui/build/treeview/treeview-min.js"></script>
      <script type="text/javascript" src="{{ STATIC_URL }}static/static/yui/build/element/element-min.js"></script>
      <script type="text/javascript" src="{{ STATIC_URL }}static/static/yui/build/button/button.js"></script>
      <script type="text/javascript" src="{{ STATIC_URL }}static/static/yui/build/container/container-min.js"></script>
      <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}static/static/yui/build/treeview/assets/skins/sam/treeview.css">
      <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}static/static/yui/build/button/assets/skins/sam/button.css"> 
      <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}static/static/yui/build/container/assets/skins/sam/container.css" />
                   
      <!-- Jquery, Jquery-UI, and Jquery-UI css  -->
      <script type="text/javascript" src="{{ STATIC_URL }}static/static/jquery/jquery-1.6.2.min.js"></script>
      <script type="text/javascript" src="{{ STATIC_URL }}static/static/jquery/jquery-ui-1.8.16.custom.min.js"></script>
      <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}static/static/jquery/themes/smoothness/jquery-ui-1.8.16.custom.css" />
      
      <!-- Additional jquery libraries and associated css-->
      <script type="text/javascript" src="{{ STATIC_URL }}static/static/jquery/jquery-collapsible/jquery.collapsible.js"></script>
      <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}static/static/jquery/jquery-collapsible/jquery.collapsible.css"/>      
      <script type="text/javascript" src="{{ STATIC_URL }}static/static/jquery/jquery-checkformsave/jquery.checkformsave.js"></script>      
      <script type="text/javascript" src="{{ STATIC_URL }}static/static/jquery/jquery-dropdown-checklist/ui.dropdownchecklist-1.1-min.js"></script>
      <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}static/static/jquery/jquery-dropdown-checklist/ui.dropdownchecklist.standalone.css"/>      
      <script type="text/javascript" src="{{ STATIC_URL }}static/static/jquery/jquery-datatables/jquery.dataTables.js"></script>
      <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}static/static/jquery/jquery-datatables/datatables.css"/>
      <script type="text/javascript" src="{{ STATIC_URL }}static/static/jquery/jquery-fixer/jquery.fixer.js"></script>
      <script type="text/javascript" src="{{ STATIC_URL }}static/static/jquery/jquery-confirmaction/jconfirmaction.jquery.js"></script>
      <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}static/static/jquery/jquery-confirmaction/jconfirmaction.css"/>
      
      <!-- Site-wide jquery scripts-->
      
        <!-- making all submit buttons jquery-ui -->
        <script type="text/javascript">
         $(function() {
          $( "input:submit, button, .buttonbar a").button();
         });
        </script>
		      
	    <!-- Open a confirmation box on actions marked 'ask' -->
		      
        <script type="text/javascript">
          $(function() {
            $(".ask").jConfirmAction();
          });
        </script>
        
      <!-- Page specific head information...css overrides etc-->
      {% block pagehead %}
      {% endblock %}
     
    </head>
    
    
    <body class="yui-skin-sam">
        <div id="page">
            <div id="header" class="stfc">
              <table>
                <tr>
                  <td width="10%" align="center">
                    <img height="70" src="{{ STATIC_URL }}images/pimms_logo.png" alt="pimms logo">
                  </td>
                  <td width="90%" align="center">
                    <h1>PIMMS Metadata Manager</h1>
                  </td>
                  <td width="10%" align="center">
                    <img height="70" src="{{ STATIC_URL }}images/jisc_logo.jpg" alt="jisc logo">
                  </td>
                </tr>
              </table>
            </div>
            <div id="banner">
                <center class="red">The PIMMS Support Team can be contacted on our dedicated email: <a href="mailto:support@ceda.ac.uk">support@ceda.ac.uk</a>  </center>
            </div>
            <div class="main">
             <table>
                <tr>
                <td width="850px">
                <div class="tabnav">
                    <ul>
                        {% for tab in tabs %}
                            {% ifequal tab.pos "left" %}
                                <li {% ifequal tab.active 1 %} class="selected"{% endifequal %}{% ifequal tab.active -1 %} class="subdue"{% endifequal %}>
                    <a href="{{tab.url}}">{{tab.name}}</a></li>
                    {% endifequal %}
                    {% endfor %}
                    </ul>
                </div>
                </td>
                <td width="200px" align="right">
                <div class="tabnav">
                    <ul>
                    {% for tab in tabs %}
                    {% ifequal tab.pos "right" %}
                    <li {% ifequal tab.active 1 %} class="selected"{% endifequal %}{% ifequal tab.active -1 %} class="subdue"{% endifequal %}>
                    <a href="{{tab.url}}">{{tab.name}}</a></li>
                    {% endifequal %}
                    {% endfor %}
                    </ul>
                </div>
                </td>
                </tr>
                </table>
                <div class="tabcontent">
                    {% block content %}
                    {% endblock %}
                </div>  
            </div>
            <div id="footer" class="stfc" >
                
            </div>
        </div>

    </body>

</html>
