{% extends "qn/twopanel.html" %}

{% block titlerow %} 
  Edit model
  {% if not c.isModel %}
    {% if c.isRealm %} 
      realm 
    {% else %} 
      component {% endif %} 
    {% endif %} 
    <b>{{ c.abbrev }}</b>
    for centre <b>{{c.centre}}</b>
    
  {% if c.controlled %}
    {% if c.isComplete %} 
      <p> Complete and Submitted </p>
    {% else %} 
      <!-- 
      <p> Validation Status: {{ c.status }}</p>
      -->
    {% endif %}
  {% else %}
    <td>
      <form action="{{ urls.form }}" method="POST" 
          onsubmit="myProject.bypassConfirm()">&nbsp;&nbsp;
        <input type="hidden" name="deleteMe" value="1"/>
        <input id="deleteButton" type="submit" value="Delete">
      </form>
    </td>
  {% endif %}
{% endblock %}


{% block leftcolumn %}
  
  <div class="boxer">
    <p class="red"> 
      All buttons and links above and in this column navigate away from this 
      page. Save your work first!
    </p>
  </div>
  
  <div class="boxer">
    <h4> 
      Available Models 
    </h4>
    <div id="treeDiv"> 
      {{ navtree|safe }}
    </div>
    <h4>
      Component {{ c.abbrev }}
    </h4>
    <p class="guidance"> 
      Please add details of any other relevant subcomponents of this component 
    <p>
    <p>
      <form action="{{ urls.subcomp }}" method="POST" onsubmit="myProject.bypassConfirm()">
        <center>
          <input id="sublinkbut" type="submit" name="CreateSub" value="Add Subcomponent"/>
        </center>
      </form>
    </p>
  </div>
  
  {% if isParamGroup %}
    <div class="boxer">  
	  {% include 'qn/docbuttons.html' %}
    </div>
  {% else %}
    <div class="boxer">
	  <p> 
	    The button(s) in this box navigate to pages which further describe this <b>component</b>.
	  </p>
	  {% if not isModel %}
	    <p>
          <center>
	        <a id="inplinkbut" href="{{ urls.inputs }}">Inputs Needed</a>
          </center>
	    </p>
	  {% endif %}
	  <p>
        <center> 
	      <a id="reflinkbut" href="{{ urls.refs }}"> Attach References</a>
        </center> 
	  </p>
    </div>
  
    <div class="boxer">
      <p> 
        The buttons in this box navigate to pages for this <b>model</b>.
      </p>
	  <p>
        <center> 
	      <a id="cuplinkbut" href="{{ urls.coupling }}"> Default Inputs</a>
        </center>
	  </p>
    </div>
    <div class="boxer">  
	  {% include 'qn/docbuttons.html' %}
    </div>
  {% endif %}
{% endblock %}


<!--The main panel of a component page -->
{% block mainpanel %}
  <div class="boxer2">
    <form action="{{ urls.form }}" method='post' onsubmit="myProject.bypassConfirm()">
      
      <!-- Error notification panel -->
      {% if cform.errors %}
        <div class="error_boxer">
          <p>
            This page contains errors. Please correct these before saving 
          </p>
        </div>
      {% endif %}
      
      
      <!-- Warning notification panel -->
      {% if warning %}
        <div class="warning_boxer">
          <p>
            {{ warning }} 
          </p>
        </div>
      {% endif %}
      
      {% include 'qn/helppanel.html' %}
      
      <!-- Main component information box --> 
      <div class="boxer formbox">
        <h3>
          Top level information
        </h3>
        <table>
          {% if isParamGroup %}
            <tr>
              <td width="3%"></td>
              <td width="20%">Short Name*</td>
              <td width="52%" class="inputH1">{{c.abbrev}}</td>
              <td width="20%"></td>
              <!-- Dealing with necessary hidden fields -->
              <div style="display: none;">
	            <h1>
	              {{ cform.abbrev }}
                  {{ cform.controlled }}
		          <!-- {{ cform.implemented }} -->
	            </h1>
              </div>
            </tr>
          {% else %}
            <tr>
              <td width="3%"></td>
              <td width="20%">Short Name*</td>
              <td width="52%">{{cform.abbrev}} Type: {{ cform.scienceType }} {{ cform.viewableScienceType }}</td>
              <td width="20%">{{cform.abbrev.errors}}</td>
            </tr>
          {% endif %}
            
            <tr>
              <td width="3%"></td>
              <td width="20%">Long Name*</td>
              <td width="52%">{{cform.title}}</td>
              <td width="20%">{{cform.title.errors}}</td>
            </tr>
              
            {% if cform.showImplemented %}
              {% if isModel %} 
                {{ cform.implemented.as_hidden }}
              {% else %} 
                <tr>
                  <td width="3%"> 
                    {% if cform.instance.implemented %}
                      <center>
                        <img src="/static/icons/information-icon.png"
                        title="Untick the box if there is no representation of {{ cform.instance.scienceType }} in your model" />
                      </center>
                    {% else %}
                      <center>
                        <img src="/static/icons/information-icon.png"
                        title="Tick the box to describe an implementation of {{ cform.instance.scienceType }}" />
                      </center> 
                    {% endif %}  
                  </td>
                  <td width="20%">
                    Implemented
                  </td>
                  <td width="52%"> {{ cform.implemented }} </td>
                  <td width="20%">{{cform.implemented.errors}}</td>
                </tr> 
              {% endif %}
            {% else %}
              {{cform.implemented.as_hidden}}
            {% endif %}

        </table>
        {% if isModel %}
	      <div class="helper_boxer">
	        *The short name must match the official model name chosen 
	        for cmip5 - see <a href="http://cmip-pcmdi.llnl.gov/cmip5/docs/CMIP5_modeling_groups.pdf" 
	        target="_blank">here</a>. Note that official names appear as you type in the shortname box.
	      </div>
	    {% endif %}
      </div>      
      
      {% if isParamGroup %}
      {% else %} 
        <div class="boxer formbox">
          <h3>
            Responsible Parties
          </h3>
          
          <p class="subheading">
            Use the parties tab to add more choices here
          </p>

          <table>
            <tr>
              <td width="3%"></td>
              <td width="20%">Contact</td>
              <td width="52%">{{cform.contact}}</td>
              <td width="20%">{{cform.contact.errors}}</td>
            </tr>
            <tr>
              <td width="3%"></td>
              <td width="20%">Principal Investigator</td>
              <td width="52%">{{cform.author}}</td>
              <td width="20%">{{cform.author.errors}}</td>
            </tr>
            <tr>
              <td width="3%"></td>
              <td width="20%">Funder</td>
              <td width="52%">{{cform.funder}}</td>
              <td width="20%">{{cform.funder.errors}}</td>
            </tr> 
          </table>
          <table>
            <tr>
              <td width="3%">
                <center>
                  <img src="/static/icons/information-icon.png"
                   title="Ticking the box will copy each of the described responsible parties to all child components of the current component" />
                </center>
              </td>
              <td width="20%">Copy Parties to sub-components </td>
              <td width="52%"> 
                <input type="checkbox" name="filterdown"/>
              </td>
              <td width="20%"></td>
            </tr>
          </table>        
          <!-- Following is hidden -->
          {{cform.controlled}} 
        </div>
      {% endif %}
        
        
      {% if isRealm or isModel %}
        <div class="boxer formbox">
          <h3>
            Genealogy
          </h3>
          <table>
            <tr>
              <td width="3%">
                <center> 
                  <img src="/static/icons/information-icon.png"
                  title="The year first released applies to the version you are describing in this questionnaire. If this version is a substantial upgrade to a previous version, please provide the name of that previous version and some key scientific details of the upgrade." />
                </center>
              </td>
              <td width="20%">Year First Released</td>
              <td width="52%">{{cform.yearReleased}}</td>
              <td width="20%">{{cform.yearReleased.errors}}</td>
            </tr>
            <tr>
              <td width="3%"></td>
              <td width="20%">Previous Version/Name</td>
              <td width="52%">{{cform.otherVersion}}</td>
              <td width="20%">{{cform.otherVersion.errors}}</td>
            </tr>
            <tr>
              <td width="3%"> 
                <center>
                  <img src="/static/icons/information-icon.png"
                  title="Please tell us how this component has been improved from that previous version" /> 
                </center>
              </td>
              <td width="20%">Description</td>
              <td width="52%">{{cform.geneology}}</td>
              <td width="20%">{{cform.geneology.errors}}</td>
            </tr> 
          </table>    
        </div>
      {% endif %}
        

      <div class="boxer formbox">  
        {% if isParamGroup %}
		  <h3> 
		    Component Attributes 
		  </h3>
		  <p class="subheading"> 
		    In this section enter parameters and attributes associated with this component
		  </p>
	    {% endif %}
         
        {% if isModel %}
		  <h3> 
            Model Attributes 
		  </h3>
		  <p class="subheading"> 
		    In this section enter parameters and attributes associated with this model
		  </p>
	    {% endif %}
	  
	    {% if isRealm %}
		  <h3> 
		    Realm Attributes 
		  </h3>
          <p class="subheading"> 
            In this section select a grid and enter parameters and attributes associated with this realm 
          </p>
	    {% endif %}
       	
        {% if isParamGroup %}
        {% else %}
          {% if isModel %}
          {% else %}
            <div class="innerboxer formbox">
              <h3> Grid </h3>
              <p class="subheading">
                Please select an appropriate grid from those you have described 
                using the grid tab
              </p>
              <table>
                <tr>
                  <td width="3%"></td>
                  <td width="20%">Grid</td>
                  <td width="52%">{{cform.grid}}</td>
                  <td width="20%">{{cform.grid.errors}}</td>
                </tr>
              </table>
              <table>
                <tr>
                  <td width="3%">
                  <center>
                    <img src="/static/icons/information-icon.png"
                      title="Ticking the box will copy the selected grid to all child components of the current component" />
                  </center>
                  </td>
                  <td width="20%"> 
                    Copy Grid to sub-components 
                  </td>
                  <td width="52%">                
                    <input type="checkbox" name="filterdowngrid"/>
                  </td>
                  <td width="20%"></td>
                </tr>  
              </table>
            </div>
          {% endif %}
        {% endif %} 
        
        {% if isModel %}
          {% include 'qn/topmodel_attform.html' %}
        {% else %}
          {% include 'qn/attributeform.html' %}
        {% endif %}
      
    </div>
       
    <div class="boxer formbox"> 
      <h3> 
        Additional Information
      </h3>
      <center>
        <div class="helper_boxer">
          Please provide any further information that will help describe 
          this component (in particular, if you have chosen "other" 
          anywhere above, please provide details here).
        </div>
        <p>
          {{ cform.description }}
        </p> 
      </center> 
    </div>
    <center>
      <input class="saveBut" type="submit" value="Save"/>
    </center>

  </form>
</div><!-- boxer2 div -->
    
    {% if isParamGroup %}
    {% else %}
	  <div class="boxer infobox">
	    <h4> Inputs required by this component</h4>
        <p class="subheading"> 
          Update this list using the "Inputs Needed" button 
        </p>
	    {% if inps|length %}
	      <table>
	        <tr>
              <th width="15%"> Type </th>
              <th width="25%"> Short Name </th>
              <th width="60%">Description </th>
            </tr>
	        {% for i in inps %}
	          <tr class="{%cycle  'row2' 'row1'%}">
	            <td width="15%"> {{i.ctype}} </td>
                <td width="25%"> {{i.abbrev}} </td>
                <td width="60%"> {{i.description}} </td>
              <tr>
	        {% endfor %} 
	      </table>
	    {% else %}
	      <div class="helper_boxer"> 
            No inputs are yet associated with this component. Use the "Inputs 
            Needed" (left menu) button to add required inputs as necessary.
          </div>
	    {% endif %}
	    {% if isRealm %}
	      <div class="helper_boxer"> 
            It is possible that the components below this "realm" do not 
            provide a sensible place to put all the scientifically important 
            inputs which might be required by this realm. If so, please describe 
            them here!
          </div>
	    {% endif %}
	    </div>
	    
	    <div class="boxer infobox">
	        <h4> References (associated with this component) </h4>
	        <p class="subheading"> 
              Update this list using the reference button.
            </p>
	        {% if refs|length_is:0 %} 
	        <div class="helper_boxer"> 
              No references are yet associated with this component. Use the 
              "References" button (left menu) to add references.
            </div>
	        {% else %}
	        <table width="100%" class="backgrey">
	          <tr>
                <th> Citation</th>
                <th>Source</th>
              </tr>
	          {% for r in refs%}
	            <tr>
                  <td >{{r.citation}}</td>
                  <td width="10%">
                    <center>
                      <a href="{{r.link}}">link</a>
                    </center>
                  </td>
                </tr>
	          {% endfor %}
	        </table>
	        {% endif %}
	    </div>
    {% endif %}
    
    
    {% if isModel %}
      <div class="boxer infobox">
        <h4> 
          Required Inputs and Couplings 
        </h4>
        <table>
          {% for bc in cset %}
            <tr class="{%cycle  'row2' 'row1'%}">
              <td>
                {{ bc.targetInput.ctype }}
              </td>
              <td>
                {{ bc }} uses {{ bc.internalclosure_set.all|length }} internal link(s) and {{ bc.externalclosure_set.all|length }} file link(s) by default.
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    {% endif %}
<!--End of main panel of a component page -->


<!-- button specific javascript follows -->
<script type="text/javascript"> 
  var oLinkButton3 = new YAHOO.widget.Button("reflinkbut"); 
  var oLinkButton6 = new YAHOO.widget.Button("cuplinkbut"); 
  var oLinkButton8 = new YAHOO.widget.Button("inplinkbut"); 
  var oLinkButton4 = new YAHOO.widget.Button("sublinkbut",{value:"sublinkbutValue"}); 
  var oSubmitButton1 = new YAHOO.widget.Button("updateButton1",{value:"updateButton1value"}); 
  var deleteButton = new YAHOO.widget.Button("deleteButton",{value:"deleteButtonvalue"}); 
</script>
<!-- end of button javascript -->

<!-- YUI treeview stuff for body -->
<script type="text/javascript">

//create our own namespace object
YAHOO.namespace("protoq.tree");
	                 
//define the initTree function
YAHOO.protoq.tree.initTree = function() {

    //create a TreeView object
    var tree = new YAHOO.widget.TreeView("treeDiv");

    //Fix for non-activation of href link on single-clicking node label (YUI bug?):
    //Subscribe to the "dblClickEvent" and do nothing.
    tree.subscribe("dblClickEvent", function(node) {
    }); 

	// Draw the tree
    tree.draw();
  
};
 
 //Add an onDOMReady handler to build the tree when the document is ready
YAHOO.util.Event.onDOMReady(YAHOO.protoq.tree.initTree);
 
</script>
<!-- End of YUI treeview stuff for body -->

{% endblock %}