{% extends "qn/twopanel.html" %}

{% block titlerow %}
<table  width="100%"  class="{{ g.qstatus }}">
  <tr>
	<td>
	  <h1> 
		Grid {{g.abbrev }} 
	  </h1> 
	</td> 
  </tr>
</table>
{% endblock %}

{% block leftcolumn %}
<div class="boxer">
  <p class="red">
    All buttons and links above and in this column navigate away from this page. Save your work first!
  </p>
</div>
<div class="boxer">
  <h4> 
    Grid Structure 
  </h4>
  <div id="treeDiv"> 
    {{ navtree|safe }}
  </div>
  <h4>
    Grid {{ g.abbrev }}
  </h4>
</div>

{% if g.istopGrid %}
  <div class="boxer"> 
    <p> 
      The button(s) in this box navigate to pages which further describe this <b>grid</b>.
    </p>
    <p>
      <a id="reflinkbut" href="{{ urls.refs }}"> References</a>
    </p>
  </div>
  <div class="boxer">  
    {% include 'qn/docbuttons.html' %}
  </div>
{% endif %}

{% endblock %}

<!--The main panel of a grid page -->
{% block mainpanel %}
  <div class="boxer2">
    <form action="{{ urls.form }}" method='post' onsubmit="myProject.bypassConfirm()">
      <div class="boxer">    
        <table>
          {% if g.isParamGroup %}
            <tr>
              <td class="inputH1">
                {{g.abbrev }} 
                <div style="display: none;">                  
                  <h1>
                    {{ gform.abbrev }} 
                  </h1>
                </div>
              </td>
            </tr>
          {% else %}
            <tr>
              <td class="inputH1">
                Short Name:&nbsp;{{ gform.abbrev.errors }}
              </td>
              <td colspan="4">
	            {{ gform.abbrev }}
              </td>
            </tr>
          {% endif %}
          
          <tr>
            <td>
              Long Name:&nbsp;{{ gform.title.errors }}
            </td>
            <td colspan="3">
              {{ gform.title }}
            </td>
          </tr>
          <tr>
          </tr>               
        </table>
      </div>
        
      {% if g.istopGrid %}
        <div style="display:none">
      {% else %}
        <div class="boxer">
      {% endif %}   
	     
        <h4> 
          Grid Attributes 
        </h4>
        <p> 
          In this section enter parameters and attributes associated with this grid.  
        </p>
		
        {% include 'qn/gridattributeform.html' %}
   
      </div>
      
      {% if g.istopGrid %}
        <div class="boxer">
          <h4> 
            Description
          </h4>
          <center>
            <p class="guidance">
              Please provide a description for this grid.
            </p>
            <p>
              {{ gform.description }}
            </p> 
          </center>
        </div>
      {% endif %}
           
       
      <center>
        <input id="updateButton1" type="submit" value="Save"/>
      </center>
    </form>
  </div>
  
  <!-- boxer2 div -->
    
  {% if g.istopGrid %}
    <div class="boxer">
      <h4> 
        References (associated with this grid) 
      </h4>
      {% if refs|length_is:0 %} 
        <p class="guidance"> 
          No references are yet associated with this grid. Use the "References" button (left menu) to add references.
        </p>
      {% else %}
        <p class="guidance"> 
          Update this list using the reference button.
        </p>
        <table width="100%" class="backgrey">
          <tr>
            <th> 
              Citation
            </th>
            <th>
              Source
            </th>
          </tr>
          {% for r in refs %}
            <tr>
              <td>
                {{ r.citation }}
              </td>
              <td width="10%">
                (<a href="{{ r.link }}">link</a>)
              </td>
            </tr>
          {% endfor %}
        </table>
      {% endif %}
    </div>
  {% endif %}
    
   
<!-- button specific javascript follows -->
<script  type="text/javascript"> 
  var oLinkButton3 = new YAHOO.widget.Button("reflinkbut"); 
  var oLinkButton6 = new YAHOO.widget.Button("cuplinkbut"); 
  var olinkButton7 = new YAHOO.widget.Button("txtlinkbut");
  var oLinkButton8 = new YAHOO.widget.Button("inplinkbut"); 
  var oLinkButton4 = new YAHOO.widget.Button("sublinkbut",{value:"sublinkbutValue"}); 
  var oSubmitButton1 = new YAHOO.widget.Button("updateButton1",{value:"updateButton1value"}); 
  var deleteButton = new YAHOO.widget.Button("deleteButton",{value:"deleteButtonvalue"}); 
</script>
<!-- end of button javascript -->

<!-- YUI treeview stuff for body -->
<script type="text/javascript">

//create our own namespace object
YAHOO.namespace("protoq.tree");
	                 
//define the initTree function
YAHOO.protoq.tree.initTree = function() {

    //create a TreeView object
    var tree = new YAHOO.widget.TreeView("treeDiv");

    //Fix for non-activation of href link on single-clicking node label (YUI bug?):
    //Subscribe to the "dblClickEvent" and do nothing.
    tree.subscribe("dblClickEvent", function(node) {
    }); 

	// Draw the tree
    tree.draw();
  
};
 
 //Add an onDOMReady handler to build the tree when the document is ready
YAHOO.util.Event.onDOMReady(YAHOO.protoq.tree.initTree);
 
</script>
<!-- End of YUI treeview stuff for body -->

{% endblock %}