{% extends "qn/twopanel.html" %}
{% block titlerow %}
    <table width="100%" class="{{s.qstatus}}">
    <tr>
    <td>
    {% ifequal label 'Update' %} 
    <h1> Update simulation {{s}} in experiment {{exp}}</h1>
    {% else %}
    <h1> Create a simulation in experiment {{exp}}</h1>
    {% endifequal %}
    </td>
    <td> 
      {% if s.isComplete %}
        Complete and Submitted
      {% else %}
        <!-- Temporarily removing status 
        Validation Status: {{s.status}}
        -->
        Incomplete
     {% endif %} 
    </td>
    </tr>
    </table>
    <p>({{exp.rationale}})</p>
{% endblock %}

{% block leftcolumn %}
    <div class="boxer">
        <p class="red"> All buttons and links in the tabs and this column navigate away from this page. Save your work first!</p>
    </div>
    <div class="boxer">
        {% ifnotequal label "Update" %}
            <p>After you have saved the initial simulation description, a set of buttons to 
            add further simulation characteristics will appear here.</p>
        {% else %}
            <h4> Dependencies</h4>
            <p> List of tasks you need to carry out: It will be best to proceed down this list in order!</p>
            <!--<p><a id="iclinkbut" href="{{urls.ic}}">Initial Conditions</a></p>-->
            <p><b>1:</b> <a id="bclinkbut" href="{{urls.bc}}"> Simulation Inputs</a></p>
            <h4> Experiment Criteria</h4>
            <p>Tell us about:</p>
            <p><b>2:</b> <a id="modlinkbut" href="{{urls.mod}}">Model Mods</a></p>
            <!--<p><a id="icslinkbut" href="{{urls.ics}}">Input Mods</a></p>-->
            <p><b>3:</b> <a id="conlinkbut" href="{{urls.con}}">Conformance</a></p>
            <h4> Ensemble Characteristics </h4>
            {% ifequal s.ensembleMembers 1 %}
                    Not an ensemble 
            {% else %}
                <p><b>4:</b> <a id="enslinkbut" href="{{urls.ens}}">Describe Ensemble</a></p>
            {% endifequal %}
            <p> Then you will be ready to:</p>
            <h4> Use this simulation to </h4>
            {% include 'qn/docbuttons.html' %}
        {% endifnotequal %}
    </div>
{% endblock %}

{% block mainpanel %}
    <div class="boxer2">
        <form action="{{urls.url}}" method="post" onsubmit="myProject.bypassConfirm()">
            
            <!-- expandable/collapsable panel help (will want to pull this out eventually into its own block) -->
            <div class="boxer">      
	            <div class="msg_list">
				    <div class="msg_head">
				      <table>
				        <tr>
				          <td>Page Information</td>
				          <td align="right">(click to expand/collapse)</td>
				        </tr>
				      </table>
				    </div>
				    <div class="msg_body">
	                    On this page you are asked to fill out information about a particular simulation....
	                    <br/>
	                    When describing simulations you will be asked to clearly explain how the 
	                    simulation has met the numerical requirements of the experiment with which 
	                    it is associated. This is done via the conformance page, which maps the 
	                    numerical requirements onto initial and boundary conditions (and, if 
	                    necessary, onto code modifications) . You will probably have to dive off 
	                    and create some initial conditions. 
					</div>
	            </div>
            </div>
            <!-- End of expandable/collapsable panel -->
            
            <!-- Error notification panel -->
				{% if simform.errors %}
				  <div class="error_boxer">
				    <p>
				      This page contains errors. Please correct these before saving 
				    </p>
				  </div>
				{% endif %}
            
            <div class="boxer">
              <h1> General Characteristics of the Simulation </h1>
              <p class="guidance"> In this box you fill out the general characteristics of the simulation (or ensemble). </p>
              <table>
                <tr>
                  <td>Short Name:* </td>
                  <td>{{simform.abbrev}}</td>
                  <td>{{simform.abbrev.errors}}</td>
                </tr>
            <tr><td>Long Name:{{simform.title.errors}} </td><td colspan="3">{{simform.title}}</td></tr>
             
            <tr><td> Simulation used:*  </td><td colspan="3"><b>Model</b>&nbsp;{{simform.numericalModel.errors}}{{simform.numericalModel}} running
            on <b> Platform </b> {{simform.platform.errors}}{{simform.platform}}.</td></tr>
            <br/>
            
            <tr><td>Ensemble Members:* </td><td colspan="3">{{simform.ensembleMembers.errors}}{{simform.ensembleMembers}}
            </td></tr>
            <tr><td>Description (notes){{simform.description.errors}}</td><td colspan="3">{{simform.description}}</td></tr> 
            <tr><td colspan="4">Responsible Parties (use the parties tab to add more choices here): </td></tr>
            <tr><td></td><td>Contact:*&nbsp;{{simform.contact.errors}}{{simform.contact}}</td>
                        <td>Lead Author:&nbsp;{{simform.author.errors}}{{simform.author}}</td>
                        <td>Funder:&nbsp;{{simform.funder.errors}}{{simform.funder}}</td></tr>
            </table>
            </div>
            
            
            <div class="boxer">
            <h4> rip information </h4>
            <p class="guidance">In this section, we ask you what the rip value is for this particular simulation (see <a href="http://cmip-pcmdi.llnl.gov/cmip5/output_req.html" target="_blank">here</a>)</p>
              <table>
                <tr>
                  <td>rip value:* {{simform.drsMember.errors}} </td>
                  <td colspan="3">{{simform.drsMember}}</td>
                </tr>
              </table>
            </div>
            
            
            <div class="boxer">
            <h4> Duration </h4>
            <p class="guidance"> Enter Start date/time and <i>either</i> End date/time <b>or</b> duration, where format is Year-Month-Date 00:00:00.</p>
            {{simform.duration.errors}}{{simform.duration}}
            {% comment %}
            {% with simform.duration as d  %} {% include 'closed_date.html' %} {% endwith %}
            {% endcomment %}
            <br/>
            <h4> Related Simulation 
            <img src="/static/icons/information-icon.png"
				title="If this simulation has a related control simulation or extends another, please identify it here. {% if ensemble %} (Such relationships may extend between ensembles too.){% endif %}" />
            </h4>
            <p>Simulation {{s}} {{rform.value}}{{rform.value.errors}} simulation {{rform.sto}}{{rform.sto.errors}}</p>
            {% if rform.non_field_errors %} <p>{{rform.non_field_errors}}</p>{% endif %}
            <table><tr><td>Details (if necessary):</td><td> {{rform.description.errors}}{{rform.description}}</td></tr></table>
            </div>
            <div class="boxer">
            <h4> Authorship* </h4>
            <center>
            <p>Please enter the list of authors you wish to appear in a DOI for this simulation.
            <img src="/static/icons/information-icon.png"
				title="The lead author should be indicated using the 'parties' tab and the 'lead author' drop down list above." />
            <br/>
            {{simform.authorList.errors}}:</p><p>{{simform.authorList}}</p>
            </center>
            </div>
            <center><input id="simFormButton" type="submit" value="{{label}}" />
            </center>
        </form>
    </div> <!-- boxser2 -->
        
    <script type="text/javascript">
        var oLinkButton1 = new YAHOO.widget.Button("iclinkbut"); 
        var oLinkButton2 = new YAHOO.widget.Button("bclinkbut"); 
        var oLinkButton3 = new YAHOO.widget.Button("enslinkbut"); 
        var oLinkButton4 = new YAHOO.widget.Button("conlinkbut"); 
        var oLinkButton7 = new YAHOO.widget.Button("modlinkbut"); 
        //var oLinkButton8 = new YAHOO.widget.Button("icslinkbut"); 
        var oSimFormButton = new YAHOO.widget.Button("simFormButton",{value:"simFormButtonvalue"}); 
    </script>
    
    {% ifequal label "Update" %}
    {% if s.modelMod.all|length %}
    <div class="boxer">
        <h4> Modifications to the base model</h4>
        <p> These are parameter and code modifications with respect to the base model. 
        {% if ensemble %} They apply to all ensemble members {% endif %}</p>
        <table>
        <tr><th> Name </th><th>Description</th></tr>
        {% for m in s.modelMod.all %} 
        <tr class="{%cycle 'row1' 'row2'%}"><td>{{m}}</td><td>{{m.description}}</td></tr>
        {% endfor %}
        </table>
    </div>
    {% endif %}
    {% endifequal %}
    
    
    {% if ensemble %}<div class="boxer">
        <h4> Ensemble Characteristics 
        <img src="/static/icons/information-icon.png"
				title="You can modify these Ensemble Characteristics using the 'Describe Ensemble' button on the left hand menu." />
        </h4>
        <p>Description:{{ensemble.set.description}}</p>
        <table>
        {% for m in ensemble.members %}
        <tr class="{%cycle  'row2' 'row1'%}"><td>Member {{m.memberNumber}} ({{m.drsMember}}) uses code modification: {{m.cmod}} and input modification {{m.imod}}</td></tr>
        {% endfor %}
        </table>
    </div>{% endif %}
            
    <div class="boxer">
        <h4> Required Inputs and Couplings 
        <img src="/static/icons/information-icon.png"
				title="You can modify these using the 'Input Coupling' button on the left hand menu." />
        </h4>
        
        {% ifnotequal label "Update" %}
            <p class="red"> This section cannot be filled in until the
            general characteristics have been saved </p>
        {% else %}
            <table>
            <table>
            {% for bc in cset %}
            <tr class="{%cycle  'row2' 'row1'%}"><td>{{bc.targetInput.ctype}}</td><td>{{bc}} uses {{bc.internalclosure_set.all|length}} internal link(s) and {{bc.externalclosure_set.all|length}} file link(s). {% if not bc.valid %} <span class="red"> Incomplete </span> {% endif %} </td>
            </tr>
            {% endfor %}
            </table>
        {% endifnotequal %}
    </div>
    
    <div class="boxer backgrey">
        <h4> Conformance: How this simulation conforms to the numerical requirements of experiment {{exp}}
        <img src="/static/icons/information-icon.png"
				title="You can modify these using the 'conformance' button on the left hand menu." />
        </h4>
        {% ifnotequal label "Update" %}
        <p class="red"> This section cannot be filled in until the general characteristics have been saved </p>
        {% else %}
        <table>
        {% for con in coset %}
        <tr class="{% cycle 'row1' 'row2'%}"><td>{{con.requirement}}</td><td>{% if con.ctype %} {% include 'qn/pretty_conformance.html'%} {% else %} <span class="red">Not conformant?</span>{% endif %}</tr>
        {% endfor %}
        </table>
        {% endifnotequal %}
    </div>
        
{% endblock %}
