{% extends 'qn/base.html' %}

{% block content %}
  <div class="boxer titlerow">
    {% block titlerow %} 
    {% endblock %}
  </div>
  <table class="navmain">
    <tr>
      <td valign="top" width="200px">
        {% block leftcolumn %} 
        {% endblock %}
      </td>
      <td valign="top">
        {% block mainpanel %} {% endblock %}
      </td>
    </tr>
  </table>
{% endblock %}
