<div class="boxer">
  
  <h2>Computing platforms associated with {{centre.abbrev}}</h2>

  <table width="80%">
      
    <tbody>
      {% for p in platforms %}
		      <tr class="{% cycle 'row2' 'row1'%}">
	         <td width="85%">
	           {{p.abbrev}}
	         </td>
	         <td width="5%">
	           {% if p.isComplete %}
	             <center>
	               <img src="/static/icons/icon-tick.png" title="This has been 
	               successfully published at version {{ p.documentVersion }}">
	             </center>
	           {% endif %}
	         </td>
		        <td width="5%">
	           <center>
	             <span>
	               <a href="{{p.url}}">
	                 <img src="/static/icons/24x24/Modify.png" title="Edit platform {{p.abbrev}}"/>
	               </a>
	             </span>
	           </center>
		        <td width="5%"></td>
		      </tr>
	       <script type="text/javascript">
	         var oLinkButtonEdPlat{{forloop.counter}} = 
	        	 new YAHOO.widget.Button("edPlatButton{{forloop.counter}}");
	       </script>
      {% endfor %}
    </tbody>
    
  </table>
     
  <center>
    <a class="addnewbut" id="newPlatButton" href="{{ newplat }}">Add a new Platform</a>
  </center>
     
  <script type="text/javascript">
    var newplatButton = new YAHOO.widget.Button("newPlatButton"); 
  </script>
  
</div>