{% extends "site/two_column_page_wideleft.html" %} {% load qnsetup_tags %}

{% block extrahead %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.fileupload-ui.css">

<style type="text/css">
    .add-row {
        padding-left:18px;
        background:url(/static/images/add.png) no-repeat left center;
    }
    .delete-row {
        float:right;
        display:block;
        margin-left:4px;
        padding-left:18px;
        background:url(/static/images/delete.png) no-repeat left center;
    }
    .dynamic-event-form th {
        text-align:right;
        font-weight:bold;
    }
    .dynamic-event-form td span img {
        vertical-align:middle;
        border:0;
    }
</style>

{% endblock %}

{% block pagetitle %}
  Metadata questionnaire setup
{% endblock %}

{% block page_top_menu %}
{% endblock %}


{% block page_column_one %}
    <form method="post" action="" enctype="multipart/form-data">
        
        <h3>Qn Params</h3>
        
        <div class="row">
          <div class="span2">
            <label for="project"{% if qnsetupform.project.errors %} class="text-error" {% endif %}>Project {% if qnsetupform.fields.project.required %}*{% endif %}</label>
          </div>
          <div class="span3">
            {{ qnsetupform.project }}
          </div>
          <div class="span2">
            {% if qnsetupform.project.errors %}
              {% for error in qnsetupform.project.errors %}
                <p class="text-error">{{ error }}</p>
              {% endfor %}
            {% endif %}
          </div>
        </div>
        <br/>
        
        <div class="row">
          <div class="span2">
            <label for="project"{% if qnsetupform.description.errors %} class="text-error" {% endif %}>Description {% if qnsetupform.fields.description.required %}*{% endif %}</label>
          </div>
          <div class="span3">
            {{ qnsetupform.description }}
          </div>
          <div class="span2">
            {% if qnsetupform.description.errors %}
              {% for error in qnsetupform.description.errors %}
                <p class="text-error">{{ error }}</p>
              {% endfor %}
            {% endif %}
          </div>
        </div>
        
        <br/>
                
        <h3>Upload Model CV</h3>
        <table id="id_cv_info_table" border="0" cellpadding="0" cellspacing="5">
            <thead>
                <tr>
                    <th scope="col">File</th>
                </tr>
            </thead>
            <tbody>
                {% for cvform in cvformset.forms %}
                <tr id="{{ cvform.prefix }}-row" class="form-container">
                    <td>{{ cvform.cvfile }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <br/>
        
        <h3>Upload Grid CV</h3>
        <table id="id_gridcv_info_table" border="0" cellpadding="0" cellspacing="5">
            <thead>
                <tr>
                    <th scope="col">File</th>
                </tr>
            </thead>
            <tbody>
                <tr id="{{ gridcvform.prefix }}-row" class="form-container">
                    <td>{{ gridcvform.gridcvfile }}</td>
                </tr>
            </tbody>
        </table>
        
        <br/>
        
        <h3>Upload Experiments</h3>
        <table id="id_exp_info_table" border="0" cellpadding="0" cellspacing="5">
            <thead>
                <tr>
                    <th scope="col">File</th>
                </tr>
            </thead>
            <tbody>
                {% for expform in expformset.forms %}
                <tr id="{{ expform.prefix }}-row" class="form-container">
                    <td>{{ expform.expfile }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
                
        <p>
            {{ cvformset.management_form }}
            {{ expformset.management_form }}
            <input type="submit" value="Submit" />
        </p>
        
    </form>    
      
{% endblock %}


{% block page_column_two %}    
{% endblock %}

{% block extrajs %}
    <script src="{{ STATIC_URL }}js/jquery.formset.js"></script>
    
    <script type="text/javascript">
    $(function() {
        $('#id_cv_info_table tbody tr').formset({
            formCssClass: 'dynamic-contact-form',
            prefix: "{{ cvformset.prefix }}"
        });
        $('#id_exp_info_table tbody tr').formset({
            formCssClass: 'dynamic-contact-form',
            prefix: "{{ expformset.prefix }}"
        });
    });
    </script>
{% endblock %}

